<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marido de Aluguel{% endblock %}</title>
        {#<link href="{{ asset('css/materialize.css') }}" rel="stylesheet" />#}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
        <style type='text/css'>
            header, main, footer {
                padding-left: 300px;
            }

            @media only screen and (max-width : 992px) {
                header, main, footer {
                    padding-left: 0;
                }
            }
        </style>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
      <div id="navbar"> 
            {% block navbar %}
                {% include 'menuLateralCliente.html.twig'%}


            {% endblock %}
        </div>

        <main>
            <div id="content" class="container valign center-block">
                {#  {{dump(servico)}}#}
                <h5 class="blue-text center-align"> Conheça alguns serviços</h5>
                <div class="divider"></div>

                <div class="row">
                    {#multiplicar pelo banco de dados#}
                    <div class="col s12 m6 l6">
                        <div class="card small" onClick="solicitar()">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="img/eletrica/Instalar chuveiro.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Instalar chuveiro<i class="material-icons right">more_vert</i></span>
                                <p>A partir de R$20,00 por unidade</p>
                            </div>
                           
                        </div>
                    </div>  
                      <div class="col s12 m6 l6">
                        <div class="card small" onClick="solicitar()">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="img/alvenaria/Pintura.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Pintura<i class="material-icons right">more_vert</i></span>
                                <p>A partir de R$6,50 por M²</p>
                            </div>
                           
                        </div>
                    </div>  
                </div>

            </div>


        </main>
        <!-- Scripts -->
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.js"></script>
        <script type="text/javascript" src="js/homeLogado.js"></script>
    </body>
</html>
