<nav>
    <div class="nav-wrapper orange lighten-2">
        <a href="#!" class="brand-logo"></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="home">Home</a></li>
            <li><a href="editarPerfil">Perfil</a></li>
            <li><a href="logout">Sair</a></li>

        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
            <div class="background orange">

            </div>
            <a href="#user"><img class="circle"   {%if app.session.get('foto') is not null%} src="img/prof/{{app.session.get('foto')}}" {%else%}src="img/avatar.png" {%endif%}></a>
            <a href="#name"><span class="white-text name">Profissional {{ app.session.get('nomeUsuario') }}</span></a>
            <a disable='disabled'><span class="white-text name"> {{app.session.get('estrelas')|number_format(1, '.', ',')}} 
                    {%if app.session.get('estrelas') is defined%}
                        {%if app.session.get('estrelas') >0 %}
                            {% for i in 1..app.session.get('estrelas')|round(0,'floor')%}

                                <span class="fa fa-star checked"></span>
                            {%endfor%}
                            {%if app.session.get('estrelas')<5%}
                                {% for k in app.session.get('estrelas')|round(0,'floor')..4%}

                                    <span class="fa fa-star"></span>
                                {%endfor%}
                            {%endif%}
                        {%else%}
                            {% for k in app.session.get('estrelas')|round(0,'floor')..4%}

                                <span class="fa fa-star"></span>
                            {%endfor%}
                        {%endif%}
                    {%endif%}</span></a>  
        </div></li>
    <li class='center-align'>
    </li>

    <li><a href="home"><i class="material-icons">build</i>Solicitações</a></li>
    <li><div class="divider"></div></li>
    <li><a href="andamento"><i class="material-icons">assignment</i>Serviço em andamento</a></li>
    <li><a href="concluidasprof"><i class="material-icons">check_circle</i>Serviços concluídos</a></li>
    <li><div class="divider"></div></li>
    <li>   <p style="  margin-left: 30px;">  
            <label>
                <input type="checkbox"  {%if app.session.get('mostrarAtual') %}
                       checked {%endif%} onchange="changeMinhaLocal(this)"/>
                <span class="grey-text darken-4">Mostrar minha localização</span>
            </label>
        </p>
    </li>

    <li><p style="  margin-left: 30px;">   

            <label>
                <input type="checkbox"  {%if app.session.get('mostrarCasa') %}
                       checked {%endif%} onchange="changeMinhaCasa(this)"/>
                <span class="grey-text darken-4">Mostrar minha casa</span>
            </label>
        </p>
    </li>
    <li><div class="divider"></div></li>
    <li><a href="home">Home</a></li>
    <li><a href="editarPerfil">Perfil</a></li>
    <li><a class="waves-effect" href="logout">Sair</a></li>
</ul>
<script type="text/javascript">
    function changeMinhaLocal(el) {
        if (el.checked) {
            M.toast({html: 'Os usuários irão ver a sua localizção atual no mapa.'});


            var mensagem = {
                permissaoLocalAtual: true
            };

        } else {
            M.toast({html: 'Os usuarios não irão ver a sua localização atual no mapa.'});


            var mensagem = {
                permissaoLocalAtual: false
            };
        }
        $.ajax({
            type: "POST",
            url: "mostrarMinhaLocalAtual",
            dataType: "json", contentType: 'application/json',
            data: JSON.stringify(mensagem),
            success: function (result) {
                console.log("result");
                console.log(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }
    function changeMinhaCasa(el) {
        if (el.checked) {
            M.toast({html: 'Os usuários irão ver sua casa no mapa.'});

            var mensagem = {
                permissaoCasa: true
            };

        } else {
            M.toast({html: 'Os usuários não irão mais ver sua casa no mapa.'});


            var mensagem = {
                permissaoCasa: false
            };
        }
        $.ajax({type: "POST",
            url: "mostrarMinhaCasa",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(mensagem),
            success: function (result) {
                console.log("result");
                console.log(result);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.status);
                console.log(thrownError);
            }
        });
    }
</script>
